In [ ]:
import pandas as pd
# import datetime as dt

In [ ]:
df = pd.read_csv('c:/users/home/documents/project_3/static/data/[City of Stonnington] ProfileDataExport.csv')

In [ ]:
df.head()

In [ ]:
df.drop(columns=['WebID', 'Data table', 'LatestERP', '2016%', '2011', '2011%', 'Data Type', 'Unnamed: 10'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df = df[df['Data label' ] == 'Usual Resident Population']

In [ ]:
df.head()

In [ ]:
df.drop(columns=['Data label'], axis = 1, inplace = True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
#df.to_csv("c:/users/home/documents/project_3/static/data/Stonnington_Population.csv", index=False)

In [ ]:
df = pd.read_csv('c:/users/home/documents/project_3/static/data/[City of Greater Bendigo] ProfileDataExport.csv')

In [ ]:
df.drop(columns=['WebID', 'Data table', 'LatestERP', '2016%', '2011', '2011%', 'Data Type', 'Unnamed: 10'], axis=1, inplace=True)

df = df[df['Data label' ] == 'Usual Resident Population']

df.drop(columns=['Data label'], axis = 1, inplace = True)

df.shape

In [ ]:
#df.to_csv("c:/users/home/documents/project_3/static/data/Bendigo_Population.csv", index=False)

In [ ]:
df = pd.read_csv('c:/users/home/documents/project_3/static/data/[City of Darebin] ProfileDataExport.csv')

In [ ]:
df.drop(columns=['WebID', 'Data table', 'LatestERP', '2016%', '2011', '2011%', 'Data Type', 'Unnamed: 10'], axis=1, inplace=True)

df = df[df['Data label' ] == 'Usual Resident Population']

df.drop(columns=['Data label'], axis = 1, inplace = True)

df.shape

In [ ]:
#df.to_csv("c:/users/home/documents/project_3/static/data/Darebin_Population.csv", index=False)

In [ ]:
df = pd.read_csv('c:/users/home/documents/project_3/static/data/CaseyProfileDataExport.csv', encoding= 'unicode_escape')

In [ ]:
df.columns

In [ ]:
df.drop(columns=['WebID', 'Data table', 'LatestERP', '2016%', '2011', '2011%', 'Data Type'], axis=1, inplace=True)

df = df[df['Data label' ] == 'Usual Resident Population']

df.drop(columns=['Data label'], axis = 1, inplace = True)

df.shape

In [ ]:
#df.to_csv("c:/users/home/documents/project_3/static/data/Casey_Population.csv", index=False)

In [ ]:
df = pd.read_csv('c:/users/home/documents/project_3/static/data/[Boroondara] ProfileDataExport_WeeklyIncome.csv')

In [ ]:
df.head()

In [ ]:
import pandas as pd

In [21]:
vic_subs_popu_2019_df = pd.read_csv('c:/users/home/documents/Monu-Hw [KD]/project_3/static/data/VIC_ABS_ANNUAL_ERP_ASGS_2019.csv')

In [25]:
vic_subs_popu_2019_df = vic_subs_popu_2019_df.loc[vic_subs_popu_2019_df['REGIONTYPE'] == 'SA2']

In [27]:
vic_subs_popu_2019_df.drop(columns =['MEASURE', 'Measure', 'REGIONTYPE', 'Geography Level', 'ASGS_2016',
      'FREQUENCY', 'Frequency', 'TIME', 'Time', 'Flag Codes', 'Flags'], axis = 1, inplace=True)

In [26]:
vic_subs_popu_2019_df.shape

(463, 13)

In [18]:
vic_subs_popu_2019_df.head()

             Region   Value
0   Melbourne Inner  701634
1  Brunswick Coburg   99584
2         Brunswick   29993
3    Brunswick East   13765
4    Brunswick West   15543

In [28]:
vic_subs_popu_2019_df['Region'] = vic_subs_popu_2019_df.Region.apply(lambda x: x.replace("- ", ""))

In [ ]:
# subs_df = vic_subs_popu_2019_df['Region']

In [ ]:
# vic_subs_popu_2019_df = vic_subs_popu_2019_df.Region.replace(" (Vic.)", "",regex=True)

In [ ]:
# vic_subs_popu_2019_df.head()

In [ ]:

# using regular expression module to clean the suburbs name

import re 
  
# Function to clean the names 
def Clean_names(Sub_name): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\(.*', Sub_name): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\(.*', Sub_name).start() - 1
  
        # return the cleaned name 
        return Sub_name[:pos]
  
    else: 
        # if clean up needed return the same name 
        return Sub_name 
          
# remove "(" & ")"
# df = df.replace({'\(':''}, regex = True)
# df = df.replace({'\)':''}, regex = True)

In [29]:
# Updated the city columns 

vic_subs_popu_2019_df['Region'] = vic_subs_popu_2019_df['Region'].apply(Clean_names_V)


# Print the updated dataframe 
# print(vic_subs_popu_2019_df)

In [30]:
vic_subs_popu_2019_df.to_csv('c:/users/home/documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2019_Test.csv', index= False)

In [ ]:
# vic_subs_popu_2019_df.head()

In [ ]:
# cleaning median household income data

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('c:/users/home/documents/project_3/static/data/[Boroondara] median-household-income.xls', header=2)

In [ ]:
df = df[0:len(df)-7]

In [ ]:
df = df.rename(columns={'Area': 'Suburb', 'Median household income ($)':'Median Income' })

In [ ]:
df

In [ ]:
df = pd.read_excel('c:/users/home/documents/project_3/static/data/[Stonnington] median-household-income.xls', header=2)

In [ ]:
df = df[0:len(df)-6]
df = df.rename(columns={'Area': 'Suburb', 'Median household income ($)':'Median Income' })
df

In [ ]:
df = pd.read_excel('c:/users/home/documents/project_3/static/data/[City of Yarra] median-household-income.xls', header=2)
#df

In [ ]:
df = df[0:len(df)-7]
df2 = df.rename(columns={'Area': 'Suburb', 'Median household income ($)':'Median Income' })
df2

In [ ]:
frames = [df, df2]
df = pd.concat(frames, ignore_index=True, sort=False)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
len(lga_list)

In [1]:
# Cleaning median household income data

import pandas as pd

In [2]:
# create a list of lga
lga_list = ['[Banyule]', '[Bendigo]', '[Boroondara]', '[City of Ballarat]', 
           '[City of Yarra]', '[Colac]', '[Darebin]', '[East Gippsland]', 
            '[Eastern Region]', '[Frankston]', '[Geelong]', '[Gippsland]',
           '[Glen Eira]', '[Grampians Shire]', '[Hobsons Bay]', 
           '[Hume City]', '[Kingston]', '[Knox]', '[Macedon]', 
            '[Manningham]', '[Maribyrnong]', '[Maroondah]', '[Melton]',
           '[Mitchell Shire Council]', '[Monash]', '[Moorabool Shire]',
           '[Moreland]', '[Mornington]', '[Port Phillip]', '[Shepparton]',
           '[South Gippsland Shire]', '[Wangaratta]', '[Warrnambool]', 
            '[Wellington Shire]', '[Whitehorse]', '[Whittlesea]', '[Wodonga]',
           '[Wyndham]', '[Yarra Ranges]']

In [3]:
df = pd.read_excel('c:/users/home/documents/project_3/static/data/median-household-income/[Banyule] median-household-income.xls', header=2)
df = df[0:len(df)-7] # slice to remove unused rows
df = df.rename(columns={'Area': 'Suburb', 'Median household income ($)':'Median Income'})

for i in range(1, len(lga_list)):

    # read excel file

    df1 = pd.read_excel(f'c:/users/home/documents/project_3/static/data/median-household-income/{lga_list[i]} median-household-income.xls', header=2)

    df1 = df1[0:len(df1)-7] # slice to remove unused rows

    # rename columns
    df1 = df1.rename(columns={'Area': 'Suburb', 'Median household income ($)':'Median Income'})


    # append to dataframe
    df = df.append(df1, ignore_index=True, sort=False)

In [5]:
df.shape

(785, 2)

In [6]:
test_df = df.copy()

In [7]:
test_df['Suburb'] = test_df['Suburb'].apply(lambda x: x.replace(" -", ""))
# df['Suburb'] = df['Suburb'].apply(lambda x: x[0])
test_df.head()

          Suburb  Median Income
0     Briar Hill         1604.0
1       Bundoora         1363.0
2      Eaglemont         2352.0
3  Greensborough         1634.0
4     Heidelberg         1735.0

In [8]:
# using regular expression module to clean the suburbs name

import re 
  
# Function to clean the names 
def Clean_names_V(Sub_name): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\(.*', Sub_name): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\(.*', Sub_name).start() - 1
        
        if Sub_name[pos+1:pos+2] == 'V':
  
            # return the cleaned name 
            return Sub_name[:pos]
        else:
            Sub_name = Sub_name.split('(')
            Sub_name = Sub_name[0]
            
            return Sub_name
  
    else: 
        # if clean up needed return the same name 
        return Sub_name

In [9]:
test_df['Suburb'] = test_df['Suburb'].apply(Clean_names_V)

In [11]:
test_df.to_csv("c:/users/home/documents/Monu-Hw [KD]/project_3/static/data/Median_Income_Test.csv", index=False)

In [ ]:
df['Suburb'] = df['Suburb'].apply(lambda x: x.split(" -"))
df['Suburb'] = df['Suburb'].apply(lambda x: x[0])
df.head()

In [27]:
import re 
  
# Function to clean the names 
def Clean_names(Sub_name): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\(.*', Sub_name): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\(.*', Sub_name).start() - 1
  
        # return the cleaned name 
        return Sub_name[:pos]
  
    else: 
        # if clean up needed return the same name 
        return Sub_name

In [ ]:
df['Suburb'] = df['Suburb'].apply(Clean_names)

In [ ]:
df.to_csv("c:/users/home/documents/project_3/static/data/Median_Income.csv", index=False)

In [ ]:
# load real estate data
import pandas as pd

In [ ]:
df = pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/MELBOURNE_HOUSE_PRICES_LESS.csv")

In [ ]:
df.columns

In [ ]:
del_cols = ['Regionname', 'Propertycount', 'Distance']

In [ ]:
df.drop(columns=del_cols, inplace=True)

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df = df[:100]

In [ ]:
df.shape

In [ ]:
#df.to_html("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Melbourne_House_Price.html", index=False)

In [ ]:
df = pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/dv279-schoollocations2019.csv")

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
del_cols = ['Education_Sector', 'Entity_Type','Entity_Type', 'School_No',
            'School_Status',  'Address_Line_2', 'Address_Town', 'Address_State', 
            'Postal_Address_Line_1', 'Postal_Address_Line_2', 'Postal_Town', 
            'Postal_State', 'Postal_Postcode', 'LGA_ID', 'X', 'Y']

In [ ]:
df.drop(columns=del_cols, inplace=True)

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={'School_Name': 'School Name', 'School_Type': 'School Type', 
                        'Address_Line_1': 'Address', 'Address_Postcode':'Postcode',
                       'Full_Phone_No': 'Phone #', 'LGA_Name':'LGA Name'})

In [ ]:
df.head()

In [ ]:
df.to_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Melbourne_Schools.csv", index=False)

df.to_html("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Melbourne_Schools.html", index=False)

In [1]:
import pandas as pd
# loading population data

df = pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/VIC_ABS_ANNUAL_ERP_ASGS2001_2019.csv")

In [76]:
df = pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.csv")

In [77]:
df.shape

(859, 20)

In [78]:
df.columns

Index(['Suburb', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [79]:
df['Suburb'] = df['Suburb'].apply(lambda x: x.replace(" -", ""))

In [80]:
df.to_csv('C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.csv', index=False)

In [4]:
del_cols = ['MEASURE', 'Measure', 'REGIONTYPE', 'Geography Level', 'ASGS_2016',
            'FREQUENCY', 'Frequency', 'TIME', 'Flag Codes', 'Flags']

In [5]:
df.drop(columns=del_cols, inplace=True)

In [6]:
df = df.rename(columns={'Region':'Suburb', 'Time':'Year'})

In [7]:
df.shape

(17062, 3)

In [8]:
df.head()

      Suburb  Year  Value
0  Brunswick  2001  20661
1  Brunswick  2002  20906
2  Brunswick  2003  21015
3  Brunswick  2004  21147
4  Brunswick  2005  21384

In [9]:
# reverse table to col-row

sub_df = df.pivot_table(index=['Suburb'], columns='Year',
                     values='Value', aggfunc='first').reset_index()

In [11]:
#sub_df.info()
sub_df.shape

(898, 20)

In [12]:
sub_df.dropna(how='any', axis=0, inplace=True)

In [15]:
sub_df.head(3)

Year,Suburb,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,APY Lands,2661,2599,2543,2469,2389,2310,2352,2416,2476,2560,2660,2651,2622,2605,2568,2498,2485,2520,2535
1,Abbotsford,4150,4339,4444,4452,4498,4537,4638,4727,4833,5029,5213,5544,6539,7411,8078,8770,9453,9855,10088
2,Aberfoyle Park,12307,12377,12433,12385,12415,12454,12414,12356,12251,12207,12146,12126,12063,12035,11960,11863,11835,11784,11723

In [18]:
sub_df = sub_df[1:]

In [19]:
sub_df.head(3)

Year,Suburb,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Abbotsford,4150,4339,4444,4452,4498,4537,4638,4727,4833,5029,5213,5544,6539,7411,8078,8770,9453,9855,10088
2,Aberfoyle Park,12307,12377,12433,12385,12415,12454,12414,12356,12251,12207,12146,12126,12063,12035,11960,11863,11835,11784,11723
4,Airport West,6997,6970,6952,6904,6870,6878,6920,6983,7067,7175,7234,7301,7390,7521,7694,7903,8032,8280,8559

In [ ]:
# sub_df['Suburb'] = sub_df['Suburb'].apply(lambda x: x.split(" -"))
# sub_df['Suburb'] = sub_df['Suburb'].apply(lambda x: x[0])
# sub_df = sub_df[1:]
# sub_df.head()

In [20]:
sub_df['Suburb'] = sub_df['Suburb'].apply(lambda x: x.replace(" -", ""))

In [21]:
# using regular expression module to clean the suburbs name

import re 
  
# Function to clean the names 
def Clean_names_V(Sub_name): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\(.*', Sub_name): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\(.*', Sub_name).start() - 1
        
        if Sub_name[pos+1:pos+2] == 'V':
  
            # return the cleaned name 
            return Sub_name[:pos]
        else:
            Sub_name = Sub_name.split('(')
            Sub_name = Sub_name[0]
            
            return Sub_name
  
    else: 
        # if clean up needed return the same name 
        return Sub_name

In [31]:
df['Suburb'] = df['Suburb'].apply(Clean_names)

In [24]:
sub_df.head(3)

Year,Suburb,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Abbotsford,4150,4339,4444,4452,4498,4537,4638,4727,4833,5029,5213,5544,6539,7411,8078,8770,9453,9855,10088
2,Aberfoyle Park,12307,12377,12433,12385,12415,12454,12414,12356,12251,12207,12146,12126,12063,12035,11960,11863,11835,11784,11723
4,Airport West,6997,6970,6952,6904,6870,6878,6920,6983,7067,7175,7234,7301,7390,7521,7694,7903,8032,8280,8559

In [33]:
#sub_df.to_csv('c:/users/home/documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019_Test.csv', index=False)

In [67]:
sub_popu_df = pd.read_csv('c:/users/home/documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.csv')

In [68]:
sub_popu_df.shape

(860, 20)

In [69]:
sub_popu_df.columns

Index(['Suburb', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [70]:
del_cols = ['2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018']

In [71]:
sub_popu_df.drop(columns=del_cols, axis=1, inplace=True)

In [72]:
sub_popu_df = sub_popu_df.rename(columns={'2019':'Value'})

In [73]:
sub_popu_df.head(3)

           Suburb  Value
0      Abbotsford  10088
1  Aberfoyle Park  11723
2    Airport West   8559

In [75]:
sub_popu_df.to_csv('c:/users/home/documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2019.csv', index=False)

In [ ]:
# sub_df.to_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.csv", index=False)

In [ ]:
sub_df=pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.csv")

In [ ]:
# sub_df.to_html("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.html")

In [ ]:
sub_df.columns

In [ ]:
sub_df.drop(columns=['2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008'], axis=1, inplace=True)

In [ ]:
sub_df.head()

In [ ]:
sub_df.to_html("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2009_2019.html")

In [ ]:
#cleaned_df.to_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Popu_2001_2019.csv", index=False)

In [31]:
# loading melbourne house data
df = pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Melbourne_House_Full.csv")

Features of the Melbourne House Price Data:

Suburb: An outlying district of a city
Address: Address of the property.
Rooms: Number of rooms
Method: S - property sold; SP - property sold prior; PI - property passed in; PN - sold prior not disclosed; SN - sold not disclosed; NB - no bid; VB - vendor bid; W - withdrawn prior to auction; SA - sold after auction; SS - sold after auction price not disclosed. N/A - price or highest bid not available.
Type: h - house,cottage,villa, semi,terrace; u - unit, duplex; t - townhouse;
SellerG: Real Estate Agent
Date: Date sold
Distance: Distance from CBD(Central Business District)
Regionname: General Region (West, North West, North, North east ...etc)
Propertycount: Number of properties that exist in the suburb.
Bedroom2 : Scraped # of Bedrooms (from different source)
Bathroom: Number of Bathrooms
Car: Number of carspots
Landsize: Land Size
BuildingArea: Building Size
YearBuilt: Year the house was built
CouncilArea: Governing council for the area
Lattitude: Self explanatory
Longtitude: Self explanatory

In [33]:
# having a look at the dataset
df.shape

(34857, 21)

In [34]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
df.describe()

In [ ]:
df.skew()

In [ ]:
# check if there is missing values
df.isna().sum()

In [ ]:
df['Car'].isna().sum()

In [ ]:
df.Car.median()

In [ ]:
df.Car.value_counts()

In [ ]:
df.drop(columns=['BuildingArea'],axis=1,inplace=True)

In [ ]:
# cleaning & parsing covid cases dataset

In [ ]:
import pandas as pd

In [ ]:
pwd

In [ ]:
df = pd.read_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\COVID19 Data Viz Postcode data - postcode.csv')

In [ ]:
postcode_df = pd.read_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\suburb_postcode_df.csv')

In [ ]:
postcode_df.columns

In [ ]:
postcode_df['Postal_Town'] = postcode_df['Postal_Town'].apply(lambda x: x.capitalize())

In [ ]:
postcode_df.rename(columns={'Postal_Town': 'Suburb'}, inplace=True)

In [ ]:
postcode_df.head()

In [ ]:
postcode_df.shape

In [ ]:
# postcode_df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\postcode_suburb.csv', index=False)

In [ ]:
covid_df = pd.read_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\COVID19 Data Viz Postcode data - postcode.csv')

In [ ]:
covid_df.columns

In [ ]:
covid_df.drop(columns = ['population', 'rate', 'new', 'band', 'file_processed_date'], axis = 1, inplace=True)
covid_df.rename(columns={'postcode':'Postcode'}, inplace=True)

In [ ]:
covid_df.drop_duplicates(subset=['Postcode'], inplace=True)

In [ ]:
covid_df.shape

In [ ]:
covid_df['Postcode'].value_counts().sum()

In [ ]:
#df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\cleaned_covid19_cases.csv', index=False)

In [ ]:
covid_data_df = covid_df.merge(postcode_df, how='left', on='Postcode')

In [ ]:
covid_data_df.drop_duplicates(subset=['Postcode'], inplace=True)

In [ ]:
covid_data_df.dropna(inplace=True)

In [ ]:
covid_data_df.shape

In [ ]:
#covid_data_df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\cleaned_covid19_cases.csv', index=False)

In [ ]:
covid_data_df.tail(5)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('C:\\Users\\home\\Downloads\\tmp\\project_3\\data collection\\[Boroondara] ProfileDataExport_GroupAge.csv')

In [ ]:
df.head(3)

In [ ]:
df.columns

In [ ]:
df.drop(columns=['WebID', 'Data table' ,'Data Type','Unnamed: 9'], axis=1, inplace=True)

In [ ]:
df = df.rename(columns={'Data label':'Group Age'})

In [ ]:
df.head(3)

In [ ]:
# reverse table to col-row

group_age_df = df.pivot_table(index=['Area'], columns='Group Age',
                     values='2016', aggfunc='first').reset_index()

In [ ]:
group_age_df.head(3)

In [ ]:
#group_age_df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\[Boroondara] Group_Age.csv', index=False)

In [ ]:
df = pd.read_csv('C:\\Users\\home\\Downloads\\tmp\\project_3\\data collection\\ABS_C16_T01_SA_15022021101039066.csv')

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.drop(columns=['SEX_ABS', 'STATE', 'State', 'REGIONTYPE',
       'Geography Level', 'ASGS_2016', 'TIME', 'Census year',
        'Flag Codes', 'Flags'], axis=1, inplace=True)

df.head(3)

In [ ]:
df.shape

In [ ]:
df = df.loc[df.Sex !='Persons']

In [ ]:
df = df.loc[df.Age !='20']
df = df.loc[df.Age !='21']
df = df.loc[df.Age !='22']
df = df.loc[df.Age !='23']
df = df.loc[df.Age !='24']

In [ ]:
g10_14 = df.loc[df.Age == '10 - 14']
g10_14.head()

In [ ]:
df.head(3)

In [ ]:
df.shape

In [ ]:
# df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_Group_Age.csv', encoding= 'utf-8',index=False)

In [ ]:
df.head()

In [ ]:
# df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_Group_Age_Total.csv', index=False, utf = )

In [ ]:
# reverse table to col-row

group_age_df = df.pivot_table(index=['Region'], columns='Age',
                     values='Value', aggfunc='first').reset_index()

In [ ]:
group_age_df.head(3)

In [ ]:
group_age_df['Region'] = group_age_df.Region.apply(lambda x: x.replace("- ", ""))

In [ ]:
# using regular expression module to clean the suburbs name

import re 
  
# Function to clean the names 
def Clean_names(Sub_name): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\(.*', Sub_name): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\(.*', Sub_name).start() - 1
        
        if Sub_name[pos+1:pos+2] == 'V':
  
            # return the cleaned name 
            return Sub_name[:pos]
        else:
            Sub_name = Sub_name.split('(')
            Sub_name = Sub_name[0]
            
            return Sub_name
  
    else: 
        # if clean up needed return the same name 
        return Sub_name

In [ ]:
group_age_df['Region'] = group_age_df['Region'].apply(Clean_names)

In [ ]:
group_age_df.head(3)

In [ ]:
group_age_df.shape

In [ ]:
group_age_df.drop(columns=['20', '21', '22', '23', '24', ], axis=1, inplace=True)

group_age_df.head(3)

In [ ]:
group_age_df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_Group_Age.csv', index=False)

In [ ]:
df = pd.read_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\ABS_C16_G51_SA_15022021141746327.csv')

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.head(3)

In [ ]:
df.drop(columns=['AGE', 'Age','SEX_ABS', 'INDP_C16', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'ASGS_2016',
                'TIME', 'Census year', 'Flag Codes', 'Flags'], axis=1, inplace=True)

df.head(3)

In [ ]:
df.drop(columns=['AGE', 'Age'], axis = 1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# filter out unused rows

df = df.loc[df['Region'] != "Victoria"]
df = df.loc[df['Region'] != "Greater Melbourne"]
df = df.loc[df['Sex'] !='Persons']
df = df.loc[df['Industry of Employment'] !='Total']

In [ ]:
df.shape

In [ ]:
#df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_Industry_Employment.csv', index=False)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\ABS_C16_G57_SA_15022021212345508.csv')

In [3]:
df.shape

(92800, 17)

In [4]:
df.columns

Index(['OCCP_C16', 'Occupation', 'SEX_ABS', 'Sex', 'AGE', 'Age', 'STATE',
       'State', 'REGIONTYPE', 'Geography Level', 'ASGS_2016', 'Region', 'TIME',
       'Census year', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [5]:
df.drop(columns=['OCCP_C16', 'SEX_ABS',  'AGE',  'STATE', 'State',
        'REGIONTYPE', 'Geography Level', 'ASGS_2016', 'TIME',
       'Census year', 'Flag Codes', 'Flags'], axis=1, inplace=True)

df.head(3)

      Occupation      Sex      Age     Region  Value
0       Managers    Males  15 - 19  Brunswick      3
1       Managers  Females  15 - 19  Brunswick      0
2  Professionals    Males  15 - 19  Brunswick      5

In [6]:
df = df.loc[df['Occupation'] != "Total"]

In [7]:
df.shape

(83520, 5)

In [8]:
#df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_Occupation.csv', index=False)

In [9]:
df = pd.read_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\ABS_C16_T21_SA_15022021213830336.csv')

In [10]:
df.shape

(81025, 15)

In [11]:
df.columns

Index(['HHCD_2016', 'Household Composition', 'HIND_2016',
       'Total Household Income (weekly)', 'STATE', 'State', 'REGIONTYPE',
       'Geography Level', 'ASGS_2016', 'Region', 'TIME', 'Census year',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [12]:
df.drop(columns=['HHCD_2016', 'Household Composition', 'HIND_2016',
               'STATE', 'State', 'REGIONTYPE','Geography Level', 'ASGS_2016', 
               'TIME', 'Census year', 'Flag Codes', 'Flags'], axis=1, inplace=True)

df.head(3)

   Total Household Income (weekly)     Region  Value
0                            Total  Brunswick  10653
1  $1,000-$1,249 ($52,000-$64,999)  Brunswick    731
2  $1,250-$1,499 ($65,000-$77,999)  Brunswick    752

In [13]:
df = df.rename(columns={'Total Household Income (weekly)':'Weekly Income'})

In [15]:
df = df.loc[df['Weekly Income'] != 'Total']

In [16]:
df.shape

(77784, 3)

In [17]:
df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_Weekly_Income.csv', index=False)

In [36]:
# load house data json
df = pd.read_json('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\vic_suburb_stats.json')

In [49]:
df.shape

(3, 208)

In [50]:
df.head(3)

,ABBOTSFORD-3067,ABERFELDIE-3040,AINTREE-3336,ALBANVALE-3021,ALBION-3020,ALPHINGTON-3078,ALTONA-3018,ARDEER-3022,ARMADALE-3143,ASHBURTON-3147,...,WARRANDYTE-3113,WARRANWOOD-3134,WATERWAYS-3195,WATSONIA-3087,WERRIBEE-3030,WESTMEADOWS-3049,WILLIAMSTOWN-3016,WINDSOR-3181,WOLLERT-3750,YALLAMBIE-3085
details,"{'metro': 'Melbourne', 'postcode': '3067', 'st...","{'metro': 'Melbourne', 'postcode': '3040', 'st...","{'metro': None, 'postcode': '3336', 'state': '...","{'metro': 'Melbourne', 'postcode': '3021', 'st...","{'metro': 'Melbourne', 'postcode': '3020', 'st...","{'metro': 'Melbourne', 'postcode': '3078', 'st...","{'metro': 'Melbourne', 'postcode': '3018', 'st...","{'metro': 'Melbourne', 'postcode': '3022', 'st...","{'metro': 'Melbourne', 'postcode': '3143', 'st...","{'metro': 'Melbourne', 'postcode': '3147', 'st...",...,"{'metro': 'Melbourne', 'postcode': '3113', 'st...","{'metro': 'Melbourne', 'postcode': '3134', 'st...","{'metro': 'Melbourne', 'postcode': '3195', 'st...","{'metro': 'Melbourne', 'postcode': '3087', 'st...","{'metro': 'Melbourne', 'postcode': '3030', 'st...","{'metro': 'Melbourne', 'postcode': '3049', 'st...","{'metro': 'Melbourne', 'postcode': '3016', 'st...","{'metro': 'Melbourne', 'postcode': '3181', 'st...","{'metro': 'Melbourne', 'postcode': '3750', 'st...","{'metro': 'Melbourne', 'postcode': '3085', 'st..."
processed_date,"{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...",...,"{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',...","{'rental': '2018-11-13', 'sale': '2018-11-12',..."
property_types,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'3': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'2': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'2': {'investor_metric...,...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'3': {'investor_metric...,{'HOUSE': {'bedrooms': {'3': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'0': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'0': {'investor_metric...,{'HOUSE': {'bedrooms': {'1': {'investor_metric...,{'HOUSE': {'bedrooms': {'0': {'investor_metric...,{'HOUSE': {'bedrooms': {'2': {'investor_metric...

In [38]:
df.columns

Index(['ABBOTSFORD-3067', 'ABERFELDIE-3040', 'AINTREE-3336', 'ALBANVALE-3021',
       'ALBION-3020', 'ALPHINGTON-3078', 'ALTONA-3018', 'ARDEER-3022',
       'ARMADALE-3143', 'ASHBURTON-3147',
       ...
       'WARRANDYTE-3113', 'WARRANWOOD-3134', 'WATERWAYS-3195', 'WATSONIA-3087',
       'WERRIBEE-3030', 'WESTMEADOWS-3049', 'WILLIAMSTOWN-3016',
       'WINDSOR-3181', 'WOLLERT-3750', 'YALLAMBIE-3085'],
      dtype='object', length=208)

In [196]:
df['ABBOTSFORD-3067']['details']['suburb_name']
# df['ABBOTSFORD-3067']['details']['postcode']

'Abbotsford'

In [197]:
df['ABBOTSFORD-3067']['details']['postcode']

'3067'

In [198]:

df['ABBOTSFORD-3067']['property_types']['HOUSE']['bedrooms']['ALL']['investor_metrics']['median_sold_price']

1220000.0

In [129]:
f1_df = df.copy()

In [87]:
# looping through dataset

# for i in range(1, len(df.columns)):
#     print(df[i])#['details']['postcode'])

In [211]:
f2_df = f1_df.T
f2_df.head(3)
#pivot_table(index=['Area'], columns='Group Age',
#                      values='2016', aggfunc='first').reset_index()

,details,processed_date,property_types
ABBOTSFORD-3067,"{'metro': 'Melbourne', 'postcode': '3067', 'st...","{'rental': '2018-11-13', 'sale': '2018-11-12',...",{'HOUSE': {'bedrooms': {'1': {'investor_metric...
ABERFELDIE-3040,"{'metro': 'Melbourne', 'postcode': '3040', 'st...","{'rental': '2018-11-13', 'sale': '2018-11-12',...",{'HOUSE': {'bedrooms': {'1': {'investor_metric...
AINTREE-3336,"{'metro': None, 'postcode': '3336', 'state': '...","{'rental': '2018-11-13', 'sale': '2018-11-12',...",{'HOUSE': {'bedrooms': {'3': {'investor_metric...

In [231]:

# looping through dataset and store suburb, median price sold into DataFrame

subList = [];
medianPrice = [];

for i in range(0, len(f2_df)):
    subName = f2_df['details'][i]['suburb_name']
#     print(f2_df['details'][i]['suburb_name'])
#     print(f2_df['property_types'][i]['HOUSE']['bedrooms']['ALL']['investor_metrics']['median_sold_price'])
    subPrice = f2_df['property_types'][i]['HOUSE']['bedrooms']['ALL']['investor_metrics']['median_sold_price']
    subList.append(subName)
    medianPrice.append(subPrice)

790000.0

In [232]:
medianPrice

[1220000.0,
 1540000.0,
 655000.0,
 547500.0,
 746000.0,
 1800000.0,
 887000.0,
 None,
 1656000.0,
 1740000.0,
 1270000.0,
 1076000.0,
 727500.0,
 1270000.0,
 2330000.0,
 765000.0,
 735000.0,
 1710000.0,
 676016.0,
 870000.0,
 1393750.0,
 699000.0,
 650000.0,
 1335000.0,
 982500.0,
 885000.0,
 750000.0,
 2574000.0,
 747900.0,
 2297500.0,
 573750.0,
 485000.0,
 737000.0,
 1077500.0,
 1233000.0,
 730000.0,
 1270000.0,
 620000.0,
 730000.0,
 2075000.0,
 570000.0,
 2486500.0,
 1184010.0,
 1350000.0,
 807000.0,
 1710500.0,
 1109000.0,
 861000.0,
 1052500.0,
 807500.0,
 1050000.0,
 460000.0,
 872000.0,
 1087250.0,
 482500.0,
 556000.0,
 540000.0,
 1265500.0,
 485000.0,
 631000.0,
 2606500.0,
 582500.0,
 612000.0,
 1900000.0,
 1350000.0,
 1200000.0,
 610000.0,
 540000.0,
 1950000.0,
 955000.0,
 1840000.0,
 952500.0,
 2060000.0,
 750000.0,
 610000.0,
 1465000.0,
 627500.0,
 1308500.0,
 720000.0,
 1335500.0,
 925000.0,
 898500.0,
 615075.0,
 1871500.0,
 722000.0,
 711250.0,
 817500.0,
 750000.0,
 635500.0,
 1870000.0,
 480000.0,
 515000.0,
 1700500.0,
 935000.0,
 920000.0,
 1107500.0,
 1300000.0,
 640500.0,
 1300000.0,
 1045000.0,
 561000.0,
 614000.0,
 2129440.0,
 800000.0,
 695000.0,
 716000.0,
 980000.0,
 820000.0,
 1755000.0,
 440000.0,
 640000.0,
 637375.0,
 575000.0,
 726000.0,
 651000.0,
 705000.0,
 1042500.0,
 904500.0,
 790000.0,
 2695000.0,
 965000.0,
 824500.0,
 1675000.0,
 414000.0,
 1005000.0,
 576000.0,
 1000000.0,
 650000.0,
 887500.0,
 751000.0,
 1200000.0,
 1575000.0,
 728000.0,
 940000.0,
 830000.0,
 890000.0,
 1405000.0,
 1060000.0,
 1096000.0,
 1325000.0,
 1000000.0,
 1173750.0,
 561500.0,
 770000.0,
 1685000.0,
 522500.0,
 1180000.0,
 1515000.0,
 678075.0,
 630000.0,
 1825000.0,
 1466750.0,
 1000250.0,
 1100000.0,
 775000.0,
 1230000.0,
 878750.0,
 1563750.0,
 580000.0,
 1112500.0,
 610000.0,
 870000.0,
 717000.0,
 820000.0,
 1850000.0,
 810000.0,
 660000.0,
 710000.0,
 950000.0,
 1025750.0,
 660000.0,
 611000.0,
 2877000.0,
 626000.0,
 1377500.0,
 907500.0,
 1057000.0,
 757500.0,
 1353750.0,
 540000.0,
 778500.0,
 633500.0,
 570000.0,
 705000.0,
 1350500.0,
 645000.0,
 1115000.0,
 3362500.0,
 617500.0,
 None,
 1475000.0,
 570000.0,
 661000.0,
 580000.0,
 700250.0,
 990000.0,
 950000.0,
 938500.0,
 1205000.0,
 930000.0,
 1010000.0,
 820000.0,
 508000.0,
 602501.0,
 1400000.0,
 1366000.0,
 593500.0,
 790000.0]

In [234]:
house_median_price_df = pd.DataFrame({'Suburb':subList,
                                    'Median Price':medianPrice})

In [236]:
house_median_price_df.head(3)

       Suburb  Median Price
0  Abbotsford     1220000.0
1  Aberfeldie     1540000.0
2     Aintree      655000.0

In [240]:
house_median_price_df.describe()

       Median Price
count  2.060000e+02
mean   1.032757e+06
std    5.084542e+05
min    4.140000e+05
25%    6.600000e+05
50%    8.860000e+05
75%    1.268875e+06
max    3.362500e+06

In [241]:
house_median_price_df.to_csv('C:\\Users\\home\\Documents\\Monu-Hw [KD]\\project_3\\static\\data\\Vic_House_Median_Price.csv', index=False)

In [244]:
for i in range (1, 5):
    print(house_median_price_df['Suburb'][i])

Aberfeldie
Aintree
Albanvale
Albion

In [245]:
# loading population dataset
popu_df = pd.read_csv("C:/Users/home/Documents/Monu-Hw [KD]/project_3/static/data/Vic_Subs_Popu_2001_2019.csv")

In [251]:
popu_df.head(3)

,Suburb,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Abbotsford,4150,4339,4444,4452,4498,4537,4638,4727,4833,5029,5213,5544,6539,7411,8078,8770,9453,9855,10088
1,Aberfoyle Park,12307,12377,12433,12385,12415,12454,12414,12356,12251,12207,12146,12126,12063,12035,11960,11863,11835,11784,11723
2,Airport West,6997,6970,6952,6904,6870,6878,6920,6983,7067,7175,7234,7301,7390,7521,7694,7903,8032,8280,8559

In [250]:
popu_df.columns

Index(['Suburb', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [247]:
subName = 'Abbotsford'

In [257]:
subArray = popu_df.loc[popu_df['Suburb'] == subName]

In [258]:
subArray

,Suburb,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Abbotsford,4150,4339,4444,4452,4498,4537,4638,4727,4833,5029,5213,5544,6539,7411,8078,8770,9453,9855,10088

In [278]:
subArray[0:1]

KeyError: 0

In [272]:
y = subArray.iloc[0, 9:19].values

In [273]:
y

array([4833, 5029, 5213, 5544, 6539, 7411, 8078, 8770, 9453, 9855],
      dtype=object)

In [269]:
import numpy as np

In [270]:
y = np.array(y)

In [271]:
y

array([4833, 5029, 5213, 5544, 6539, 7411, 8078, 8770, 9453, 9855],
      dtype=object)

In [279]:
x = 2.6
x = int(x)

In [280]:
x

2